# Introduction to Programming using Python

**Using Anaconda Distribution's Jupyter Notebook**

## Conditional Statements and Loops

## Conditional Statements

- `IF condtion`
- `IF-ELSE condition`
- `Nested IF-ELSE condtion`

### These statements are used to make decisions based on conditions

**Syntax**

    if test expression:
           statement(s)

## IF condition

In [1]:
#Example
x=1
if x>0:
    print('Hello World')

Hello World

In [2]:
#Run the exact above code with x=0
#Write your code here
x=0
if x>0:
    print('Hello Prik')

## IF-ELSE condition

In [3]:
#Example
x=0
if x>0:
    print('Hello World')
else:
    print('Hi World')

Hi World

## Nested IF-ELSE condition

In [4]:
# Write a code which can identify the largest number from 3 given numbers
x=10
y=20
z=30

if x>y:
    print('x is Greater than y')
elif y>z:
    print('y is greater than z')
else:
    print('z is Greater than all')

z is Greater than all

## Advanced IF-ELSE

<img src ="https://cdn.pixabay.com/photo/2019/04/02/09/27/income-tax-4097292_1280.jpg" width=50% height =25%></img>

<h1 style ="font-family:Times;color:DarkBlue"> Ms. George is a CA and is just bored of manually calculating her clients' tax slabs. She asks her daughter's friend, YOU!, yes You , to  help her automate this boring stuff.</h1>

<h1 style ="font-family:Times;color:DarkBlue"><img src =" https://cdn.pixabay.com/photo/2018/01/14/23/10/bored-3082829__340.jpg" width=40% height =25%>
 Will you help her?</h1></img>

>Taxable income Tax Rate
    
>Up to Rs. 2,50,000	            ***Nil***

>Rs. 2,50,001 to Rs. 5,00,000	***5%***

>Rs. 5,00,001 to Rs. 7,50,000	***10%***

>Rs. 7,50,001 to Rs. 10,00,000	***15%***

>Rs. 10,00,001 to Rs. 12,50,000	***20%***

>Rs. 12,50,001 to Rs. 15,00,000	***25%***

>Above Rs. 15,00,000	        ***30%***

In [16]:
income=int(input('Please enter your annual income! (Please enter numbers only)'))
tax_slab={'slab1':'Nil','slab2':5,'slab3':10,'slab4':15,'slab5':20,'slab6':25,'slab7':30}
if income<250000:
    print('No income tax to be paid')
elif (income>=250001) and (income<=500000):
    print('Your tax slab is {}% and approx amt to Rs {}'. format(tax_slab['slab2'],(tax_slab['slab2']*income)/100))
elif (income>=500001) and (income<=750000):
    print('Your tax slab is {}% and approx amt to Rs {}'. format(tax_slab['slab3'],(tax_slab['slab3']*income)/100))
elif (income>=750001) and (income<=1000000):
    print('Your tax slab is {}% and approx amt to Rs {}'. format(tax_slab['slab4'],(tax_slab['slab4']*income)/100))
elif (income>=1000001) and (income<=1250000):
    print('Your tax slab is {}% and approx amt to Rs {}'. format(tax_slab['slab5'],(tax_slab['slab5']*income)/100))
elif (income>=1250001) and (income<=1500000):
    print('Your tax slab is {}% and approx amt to Rs {}'. format(tax_slab['slab6'],(tax_slab['slab6']*income)/100))
elif income<=1500001:
    print('Your tax slab is {}% and approx amt to Rs {}'. format(tax_slab['slab7'],(tax_slab['slab7']*income)/100))

Please enter your annual income! (Please enter numbers only)250002
Your tax slab is 5% and approx amt to Rs 12500.1

# Loops
- FOR loop
- While loop

## `for` Loop

In [1]:
#Printing square from 1 to 10
x=[1,2,3,4,5,6,7,8,9,10]
for i in x:
    print('Square of {} is {}'.format(i,i*i))

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

<h1 style ="font-family:Times;color:DarkBlue">Goods and Services Tax or simply GST. When this word comes, the local shopkeepers kind of feel irked because of the complex calculations and confusing guidelines. </h1>


<img src ="https://www.outlookindia.com/outlookmoney/public/uploads/article/gallery/a0bbda7bd6bac8ffd1816c339e5b71d8.jpg" width=60% height =25%></img>


<h1 style ="font-family:Times;color:DarkBlue">You gotta use your python skills to help your local shopkeeper calculate the Net Price for his shop's product provided below along with it's respective GST slab.</h1>

<img src ="https://i.imgflip.com/v1ymo.jpg"></img>

GST Amount = ( Original Cost * GST ) / 100

Net Price = Original Cost + GST Amount

#Given

Product Cost / GST Slab

Product1- 1000 / **18%**

Product2- 250 / **18%**

Product3- 125 / **5%**

Product4- 345 / **18%**

Product5- 820 / **12%**

Product6- 980 / **5%**

Product7- 500 / **12%**

In [2]:
GST_slab={'Product1':1,'Product2':18,'Product3':5,'Product4':18,'Product5':12,'Product6':5,'Product7':12}
Product_cost={'Product1':1000,'Product2':250,'Product3':125,'Product4':345,'Product5':820,'Product6':980,'Product7':500}

In [3]:
GST_slab.keys()

dict_keys(['Product1', 'Product2', 'Product3', 'Product4', 'Product5', 'Product6', 'Product7'])

In [6]:
for i in GST_slab:
    gst_amt=(Product_cost[i]*GST_slab[i])/100
    net_price=Product_cost[i]+gst_amt
    print('Net Price of {} @ {}% GST is INR {}'.format(i,GST_slab[i],net_price))

Net Price of Product1 @ 1% GST is INR 1010.0
Net Price of Product2 @ 18% GST is INR 295.0
Net Price of Product3 @ 5% GST is INR 131.25
Net Price of Product4 @ 18% GST is INR 407.1
Net Price of Product5 @ 12% GST is INR 918.4
Net Price of Product6 @ 5% GST is INR 1029.0
Net Price of Product7 @ 12% GST is INR 560.0

## Using IF-ELSE with for Loop

In [8]:
#Printing squares of even numbers from 1 to 100
for i in range(1,101):
    if i%2==0:
        print('square of {} is {}'.format(i,i*i))

square of 2 is 4
square of 4 is 16
square of 6 is 36
square of 8 is 64
square of 10 is 100
square of 12 is 144
square of 14 is 196
square of 16 is 256
square of 18 is 324
square of 20 is 400
square of 22 is 484
square of 24 is 576
square of 26 is 676
square of 28 is 784
square of 30 is 900
square of 32 is 1024
square of 34 is 1156
square of 36 is 1296
square of 38 is 1444
square of 40 is 1600
square of 42 is 1764
square of 44 is 1936
square of 46 is 2116
square of 48 is 2304
square of 50 is 2500
square of 52 is 2704
square of 54 is 2916
square of 56 is 3136
square of 58 is 3364
square of 60 is 3600
square of 62 is 3844
square of 64 is 4096
square of 66 is 4356
square of 68 is 4624
square of 70 is 4900
square of 72 is 5184
square of 74 is 5476
square of 76 is 5776
square of 78 is 6084
square of 80 is 6400
square of 82 is 6724
square of 84 is 7056
square of 86 is 7396
square of 88 is 7744
square of 90 is 8100
square of 92 is 8464
square of 94 is 8836
square of 96 is 9216
square of 98 is 9604
square of 100 is 10000

## `while` loop

In [11]:
#Printing square from 1 to 10
i=0
while i<10:
    i=i+1
    print('square of {} is {}'.format(i,i*i))

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81
square of 10 is 100

## Using IF-ELSE with `while` Loop

In [15]:
#Printing squares of even numbers from 1 to 100
i=0
while i<=100:
    if i%2==0:
        print('square of {} is {}'.format(i,i*i))
    i=i+1

square of 0 is 0
square of 2 is 4
square of 4 is 16
square of 6 is 36
square of 8 is 64
square of 10 is 100
square of 12 is 144
square of 14 is 196
square of 16 is 256
square of 18 is 324
square of 20 is 400
square of 22 is 484
square of 24 is 576
square of 26 is 676
square of 28 is 784
square of 30 is 900
square of 32 is 1024
square of 34 is 1156
square of 36 is 1296
square of 38 is 1444
square of 40 is 1600
square of 42 is 1764
square of 44 is 1936
square of 46 is 2116
square of 48 is 2304
square of 50 is 2500
square of 52 is 2704
square of 54 is 2916
square of 56 is 3136
square of 58 is 3364
square of 60 is 3600
square of 62 is 3844
square of 64 is 4096
square of 66 is 4356
square of 68 is 4624
square of 70 is 4900
square of 72 is 5184
square of 74 is 5476
square of 76 is 5776
square of 78 is 6084
square of 80 is 6400
square of 82 is 6724
square of 84 is 7056
square of 86 is 7396
square of 88 is 7744
square of 90 is 8100
square of 92 is 8464
square of 94 is 8836
square of 96 is 9216
square of 98 is 9604
square of 100 is 10000